.dialog-container {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 380px;
  height: 150px;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: -1px 1px 3px #888888;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  top: 200px;
}

.dialog-container:hover {
  cursor: pointer;
}

.dialog-title {
  text-align: center;
}

.dialog-text {
  text-align: left;
  margin-top: 10px;
}

.btn-box {
  width: 100%;
}

.dialog-btn {
  margin-top: 30px;
  width: 45%;
  height: 35px;
}
