.github-code{
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.demo-box {
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

.demo-box button {
  width: 120px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}