.github-code {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.demo-box {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.demo-box button {
  width: 120px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
}
